In [2]:
import.mysql.connector # importing my
testdb = mysql.connector.connect(host = "localhost",
user="root",
password="Rayone")
testcursor = testdb.cursor() # cursor is intiated to test database
testcursor.execute('SHOW DATABASES') # Shows databases
for x in testcursor:
    print(x) # Prints all the databases

SyntaxError: invalid syntax (Temp/ipykernel_10000/4293161894.py, line 1)

In [3]:
import.mysql.connector # Create a database
testdb = mysql.connector.connect(host = "localhost",
user="root",
password="Rayone")
testcursor = testdb.cursor() # cursor is intiated to test database
testcursor.execute('CREATE DATABASES test') # To create a new database

SyntaxError: invalid syntax (Temp/ipykernel_10000/4247085237.py, line 1)

In [ ]:
import.mysql.connector # Connecting with the database
testdb = mysql.connector.connect(host = "localhost",
user="root",
password="Rayone"
database = "test")

In [ ]:
import.mysql.connector # CREATE TABLE
testdb = mysql.connector.connect(host = "localhost",
user="root",
password="Rayone"
database = "test")
testcursor = testdbcursor()
testcursor.execute("CREATE TABLE alumni (roll_no INT, first_name VARCHAR)")

In [ ]:
import.mysql.connector # To check no of tables
testdb = mysql.connector.connect(host = "localhost",
user="root",
password="Rayone"
database = "test")
testcursor = testdbcursor()
testcursor.execute("SHOW TABLES")
for i in testcursor:
    print (i)

In [ ]:
import.mysql.connector # To Alter table
testdb = mysql.connector.connect(host = "localhost",
user="root",
password="Rayone"
database = "test")
testcursor = testdbcursor()
testcursor.execute("ALTER TABLE alumni ADD COLUMN test_id INT PRIMARY_KEY")

testcursor.execute(a,b) # where a is defined with fieldnames and b with values
testcursor.executemany(a,b) # where b has multiple records to be inserted

In [ ]:
import.mysql.connector # To select data
testdb = mysql.connector.connect(host = "localhost",
user="root",
password="Rayone"
database = "test")
testcursor = testdbcursor()
testcursor.execute ("SELECT * FROM ALUMNI")
a = testcursor.fetchall()  #.fetchone() returns first row 
for b in a:
    print(b)

In [ ]:
import.mysql.connector # To select data
testdb = mysql.connector.connect(host = "localhost",
user="root",
password="Rayone"
database = "test")
testcursor = testdbcursor()
a1 = 'DELETE FROM alumni WHERE test_id =%S'
b1 = ('1',)
testcursor.execute(a1,b1)
testdb.commit

# Always pass commit() to connection . testdb.commit() to commit transaction